.info-travel-container {
    width: 38.563em;
    height: 26.625em;
    margin-top: 35px;
}

.info-icon {
    width: 3.125em;
    height: 3.125em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    object-fit: cover;
}

.info-details-profil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info-profil {
    font-size: 20px;
}

.info-date {
    margin-left: 1em;
}

.info-detail-travel {
    width: 15.875em;
    height: 3em;
    border-radius: 10px;
    border: 1px solid var(--color-bg-btn-light);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info-price {
display: flex;
text-align: center;
color: var(--color-font-medium);
}

.info-type {
display: flex;
text-align: center;
font-size: 30px;
color: var(--color-font-dark);
}

.info-description {
margin-top: 1.25em;
height: 4.938em;
text-align: justify;
}

.info-pack {
margin-top: 1.438em;
height: 4.938em;
text-align: justify;
}

.info-hello {
display: flex;
text-align: center;
font-size: 30px;
padding-right: 0.313em
}

.info-contact {
    margin-top: 3.75em;
    display: flex;
    align-items: center;
}

.info-contact-travel {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.375em;
    height: 3em;
    border-radius: 10px;
    background-color: var(--color-bg-btn-dark);
    cursor: pointer;
}

.info-dropdown {
font-size: 20px;
color: var(--color-bg);
font-weight: 800;
line-height: 48px;
}   

.header-contact {
    position: relative;
    width: 3.125rem;
  }
  
  .contact-items {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 3.2rem;
    width: 12.25rem;
    right: 12.5rem;
    height: 8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
  }
  
  .contact-items.open {
    right: 0;
    opacity: 1;
    background-color: var(--color-bg-btn-light);
    border-radius: 10px;
  }
  
  .contact-items li {
    cursor: pointer;
    padding: 0.3rem;
    text-align: center;
  }

  .contact-cat {
    border-bottom: 1px solid var(--color-bg-btn-dark);
  }

  .contact-cat:hover {
   background-color: var(--color-bg);
  }

  .contact-menu.top:hover {
    border-radius: 10px 10px 0 0;
  }
  
  .contact-cat-fav {
    border-radius: 0 0 10px 10px;
  }

  .contact-cat-fav:hover {
    background-color: var(--color-bg);
  }

  @media (max-width: 48em) { 
    .info-travel-container{
      margin-top: 5em;
      margin-bottom: 5em;
  }

}

  @media (max-width : 26.875em) {
    .info-travel-container{
      margin-top: 3em;
      height: 27.375em;
      width: auto;
  }

  .info-detail-travel {
  margin-right: 1em;
 }

 .info-contact {
  margin-top: 2em;
  }

  }
