.loading-container {
    position: absolute;
    left: 48%;
    top: 50%;
}

.loading-2 {
    display: flex;
    
  }
  .loading-2 > span,
  .loading-2:before,
  .loading-2:after {
    content: '';
    display: block;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    background-color: var(--color-bg-btn-light);
    animation: loading-2 1s ease-in-out infinite;
    animation-direction: alternate;
  }
  
  .loading-2:before {
    animation-delay: 0s;
  }
  .loading-2 > span {
    animation-delay: .33s;
    margin: 0 4px;
  }
  .loading-2:after {
    animation-delay: .66s;
  }
  
  @keyframes loading-2 {
    0% {
      transform: translateY(0px);
      opacity: 0;
    }
    50% {
  /*     transform: translateY(-10px); */
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(0px);
    }
  }
  
  
 