@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

.container-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-right: 4.375em;
    margin-left: 4.375em;
}

.logo-header {
    width: 18.75em;
}

.logo-triplink {
  width: 40%;
  cursor: pointer;
}

.main-title {
  width: 18.75em;
  text-align: center;
  font-family: 'Solitreo', cursive;
  font-size: 3em;
  color: var(--color-bg-btn-dark);
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.line-buttons {
  margin-top: 1.25em;
  width: 3em;
  height: 0;
  left: 75.563em;
  border: 0.75px solid var(--color-font-medium);
  transform: rotate(90deg);
}

/* For desktop */
@media (min-width : 114em) {
  
  .logo-triplink {
    width: 50%;
  }

  .main-title {
    font-size: 3.625em;
  }  

}