@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

.container-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo-header {
    width: 300px;
}

.logo-triplink {
    width: 40%;
    cursor: pointer;
}

.main-title {
    width: 300px;
    text-align: center;
    font-family: 'Solitreo', cursive;
    font-size: 48px;
    color: var(--color-font-dark);
    cursor: pointer;
}

/* For mobile phones: */
@media (max-width: 844px) {
    .main-title {
        width: 200px;
        font-size: 35px;
        text-align: left;
        cursor: none;
    }

    .btn-light {
        text-align: center;
    }

    .line-buttons {
        display: none;
    }

    .btn-dark {
        display: none;
    }

    .logo-triplink {
       display: none;
    }

};

/* @media only screen and (max-width: 1180px) {
    
    .line-buttons {
        display: none;
    }

    .btn-dark {
        display: none;
    }

    .logo-triplink {
       display: none;
    }

}; */