@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

.container-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo-header {
    width: 300px;
}

.logo-triplink {
    width: 40%;
    cursor: pointer;
}

.main-title {
    width: 300px;
    text-align: center;
    font-family: 'Solitreo', cursive;
    font-size: 48px;
    color: var(--color-font-dark);
    cursor: pointer;
}

.line-buttons {
    margin-top: 20px;
    width: 48px;
    height: 0px;
    left: 1209px;
    border: 0.75px solid var(--color-font-medium);
    transform: rotate(90deg);
}

.header-buttons {
    display: flex;
    justify-content: space-between;
}

/* For mobile phones: */
@media only screen and (max-width: 844px) {
    .main-title {
        margin-left: -44px;
        width: 200px;
        font-size: 35px;
        text-align: left;
        cursor: none;
    }

    .line-buttons {
        display: none;
    }

    .btn-dark {
        display: none;
    }

    .logo-triplink {
       display: none;
    }

};