.buttons {
    display: flex;
    justify-content: space-between;
}

.line-buttons {
    margin-top: 20px;
    width: 48px;
    height: 0px;
    left: 1209px;
    border: 0.75px solid var(--color-font-medium);
    transform: rotate(90deg);
}