.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(217, 211, 211, 0.661);
    z-index: 1;
}

.modal-container {
    z-index: 1;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 36.875em;
    height: 24.75em;
    left: 50%;
    top: 50%;
    background-color: var(--color-bg);
    box-shadow: 0 0 1.125em 0 rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.form1 {
    display: flex;
    flex-direction: column;
    gap: 0.938em;
    margin-top: 0.7em;
}

.close-btn {
    font-size: 1.125em;
    cursor: pointer;
}

.modal-form {
    text-align: center;
}

.subtitle-modal {
    color: var(--color-font-medium);
}

.close-modal {
    display: flex;
    justify-content: right;
    margin-right: 0.375em;
    margin-top: 0.375em;
}

.modal-btn {
    display: block;
    text-align: center;
    margin-top: 0.7em;
}

.login {
    justify-content: center;
    margin-top: 1em;
}

.lien-modal1 {
    cursor: pointer;
    text-align: right;
    padding-right: 6.25em;
    text-decoration: underline;
}

.lien-modal2 {
    margin-top: 0.5em;
    cursor: pointer;
}

.lien-modal3 {
    margin-top: -0.375em;
    text-decoration: underline;
    cursor: pointer;
}

.lien-modal1:hover {
    color: var(--color-font-medium);
    cursor: pointer;
    text-decoration: none;
}


.lien-modal3:hover {
    color: var(--color-font-medium);
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width : 26.875em) {
    .modal-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
    }

    .close-btn {
        position: absolute;
        top: 1rem;
        right: 1.875rem;
        font-size: 1.7em;
    }
    .form1 {
        display: flex;
        flex-direction: column;
        gap: 0.938em;
        position: absolute;
        justify-content: center;
        align-items: center;
        margin-top: 0.938em;
        left: 61%; 
        transform: translate(-50%);
    }
    .lien-modal3 {
        margin-top: -0.375em;
        text-decoration: underline;
        cursor: pointer;
    }
    .lien-modal1 {
        margin-right: -5.75em;
    }
}
