.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(217, 211, 211, 0.661);
    z-index: 1;
}

.modal-container {
    z-index: 1;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 36.875em;
    height: 24.75em;
    left: 50%;
    top: 50%;
    background-color: var(--color-bg);
    box-shadow: 0 0 1.125em 0 rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.form1 {
    display: flex;
    flex-direction: column;
    gap: 0.938em;
    margin-top: 0.938em;
}

.close-btn {
    font-size: 1.125em;
    cursor: pointer;
}

.modal-form {
    text-align: center;
}

.subtitle-modal {
    color: var(--color-font-medium);
}

.close-modal {
    display: flex;
    justify-content: right;
    margin-right: 0.375em;
    margin-top: 0.375em;
}

.modal-btn {
    display: block;
    text-align: center;
    margin-top: 2.188em;
}

.login {
    justify-content: center;
}

.lien-modal1 {
    cursor: pointer;
    text-align: right;
    padding-right: 6.25em;
    text-decoration: underline;
}

.lien-modal2 {
    margin-top: 0.5em;
    cursor: pointer;
}

.lien-modal3 {
    margin-top: -0.375em;
    text-decoration: underline;
    cursor: pointer;
}

.lien-modal1:hover {
    color: var(--color-font-medium);
    cursor: pointer;
    text-decoration: none;
}


.lien-modal3:hover {
    color: var(--color-font-medium);
    cursor: pointer;
    text-decoration: none;
}

