.container-header-mobile {
  flex-direction: column;
  justify-content: center;
}

.logo-header-mobile {
  text-align: center;
}

.logo-triplink-mobile {
  width: 6rem;
}

.main-title-mobile {
  font-size: 2.5em;
  text-align: center;
  font-family: 'Solitreo', cursive;
  color: var(--color-bg-btn-dark);
}

.profil-icon {
position: absolute;
display: block;
top: 1rem;
right: 1.875rem;
width: 1.875em;
height: 1.875em;
z-index: 1;
}

.log-mobile-icon {
  width: 2.5em;
  height: 2.5em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  cursor: pointer;
}
