.card-details-return { 
    margin-top: 30px;
    width: 40px;
    cursor: pointer;
}

.link-return {
   display: flex;
   gap: 10px;
}

.return-details {
    text-decoration: none;
    color: var(--color-font-medium);
}

.card-details-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.line-details {
    border: 0.75px solid var(--color-font-medium);
    height: 488px;
}

@media (max-width : 26.875em) {
    
    .card-details-container {
        margin-top: 20px;
        display: block;
     }

     .line-details {
       display: none;
    }
    }