.select {
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
}

.css-13cymwt-control.css-13cymwt-control {
    background-color: var(--color-bg);
    border-color: transparent;
    border-style: none;
    border-radius: 10px;
}

.css-t3ipsp-control.css-t3ipsp-control{
    background-color: var(--color-bg);
    border-color: transparent;
    border-color: none;
    border-style: none;
    border-width: none;
    border-radius: 10px;
    box-shadow: none;
}

.css-t3ipsp-control:hover.css-t3ipsp-control:hover {
    background-color: var(--color-bg);
    border-color: none;
    border-style: none;
    border-width: none;
    box-shadow: none;
}

.css-1v8qtb9-control.css-1v8qtb9-control {
    background-color: var(--color-bg);
    border-color: transparent;
    border-color: none;
    border-style: none;
    border-width: none;
    border-radius: 10px;
    box-shadow: none;
    font-size: 15px;
}

.css-1v8qtb9-control.css-1v8qtb9-control:hover {
    border-color: transparent;
    border-color: none;
    border-style: none;
    border-width: none;
    border-radius: 10px;
    box-shadow: none;
}

.css-1xc3v61-indicatorContainer.css-1xc3v61-indicatorContainer {
    color: var(--color-bg-btn-light);
}

.css-1xc3v61-indicatorContainer.css-1xc3v61-indicatorContainer:hover {
    color: var(--color-bg-btn-dark);
}

.css-15lsz6c-indicatorContainer.css-15lsz6c-indicatorContainer {
    color: var(--color-bg-btn-light);
}

.css-15lsz6c-indicatorContainer.css-15lsz6c-indicatorContainer:hover {
    color: var(--color-bg-btn-dark);
}

.css-1nmdiq5-menu.css-1nmdiq5-menu {
background-color: var(--color-bg);
font-size: 15px;
}

.css-1hb7zxy-IndicatorsContainer.css-1hb7zxy-IndicatorsContainer > :nth-child(3) {
    /* > = affiner la sélection avec le 3ème enfant direct */
    display: none;
}

/* .css-1xc3v61-indicatorContainer.css-1xc3v61-indicatorContainer {
    display: none;
} */

.css-1u9des2-indicatorSeparator.css-1u9des2-indicatorSeparator {
    display: none;
}

.css-1dimb5e-singleValue.css-1dimb5e-singleValue {
    color: var( --color-font-medium);
    font-size: 15px;
}

.search-name {
    font-weight: 300;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.5rem;
    color: var(--color-font-medium);
    margin-left: 0.625rem;
    margin-top: 0.313rem;
}

.search-bar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    justify-content: center;
    position: relative;
    width: 15rem;
    border-top: 1px solid var( --color-font-medium);
    border-bottom: 1px solid var( --color-font-medium);
    background-color: var(--color-bg);
    font-weight: 300;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 10px;
    --color-font-medium: #05668D;
}

.search-bar-radius-left {
    border-left: 1px solid var( --color-font-medium);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-bar-radius-rigth {
    border-right: 1px solid var( --color-font-medium);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.line-search-bar-left {
    left: -1px;
    top: -5px;
}

.line-search-bar-right {
    right: 0;
    top: -5px;
}

.line-search-bar {
   position: absolute;
   border: 0.75px solid var(--color-font-medium);
   height: 1.875rem;
   margin-top: 0.625rem;
}

.react-select__singleValue {
    font-size: 50px;
}

.form-search {
display: flex;
justify-content: center;
align-items: center;
margin-top: 0.938rem;
margin-left: 2.5rem;
gap: 1.25rem;
}

.search-button {
    cursor: pointer;
    padding-top: 0.094rem;
    height: 2.375rem;
    width: 2.813rem;
    background-color: var( --color-bg-btn-light);
    border: 1px solid var( --color-bg-btn-light);
    border-radius: 10px;
    color: var(--color-bg-btn-dark);
    font-size: 30px;
}

.search-button:hover {
    background-color: var(--color-bg-btn-dark);
    border: 1px solid var(--color-bg-btn-dark);
    color:var( --color-bg-btn-light);
}

.bar{
width:40.625rem;
background:white;
box-shadow:0 0 5px hsl(0 0% 78%);
height:3.438rem;
border-radius:100vw;
display:flex;
justify-content:center;
font-size:0.6rem;
}

.bar div{
border-radius:inherit;
padding:0.8rem 1.5rem;
transition:background 250ms ease;
}

.bar div:hover{
background:hsl(0 0% 94%);
}

.location{
width:34%;
}
.check-in, .check-out, .guests{
width:22%;
}

::placeholder{
font-size:0.75rem;
}

.guests{
position: relative;  
}
.guests span{
position:absolute;
top:50%;
right:10px;
transform:translateY(-50%);
background:#FF385C;
color:white;
font-size:0.8rem;
padding:0.7rem;
border-radius:50%;
}

.bar>div{
position:relative;
}


.bar>div::before{
position:absolute;
content:"";
left:0;
top:50%;
transform:translateY(-50%);
width:1px;
height:55%;
background:hsl(0 0% 90%);
}

.bar>div:nth-of-type(1)::before{
    background:transparent;
}


.bar>div:hover::before{
background:transparent;
}

/* For tablet */
@media (max-width: 48em) { 
    .search-bar {
        width: 20em;
        margin-top: 2em;
        margin-bottom: 2em;
    } 
}

/* For mobile */
@media screen and (max-width : 26.875em) {
    .select {
        display: block;

    }

    .search-bar {
        width: 20em;
        border: 1px solid var( --color-font-medium);
        border-radius: 10px;
        margin-bottom: 1em;
    } 

    .search-bar-radius-left {
        border: 1px solid var( --color-font-medium);
        border-radius: 10px;
    } 
    
    .search-bar-radius-rigth {
        border: 1px solid var( --color-font-medium);
        border-radius: 10px;
    }

    .line-search-bar-left {
      display: none;
    }
    
    .line-search-bar-right {
       display: none;
    }

    .line-search-bar {
      display: none;
     }    
}

