.select {
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
}

.css-13cymwt-control.css-13cymwt-control {
    background-color: var(--color-bg);
    border-color: transparent;
    border-style: none;
    border-radius: 10px;
}

.css-t3ipsp-control.css-t3ipsp-control{
    background-color: var(--color-bg);
    border-color: transparent;
    border-color: none;
    border-style: none;
    border-width: none;
    border-radius: 10px;
    box-shadow: none;
}

.css-t3ipsp-control:hover.css-t3ipsp-control:hover {
    background-color: var(--color-bg);
    border-color: none;
    border-style: none;
    border-width: none;
    box-shadow: none;
}

.css-1v8qtb9-control.css-1v8qtb9-control {
    background-color: var(--color-bg);
    border-color: transparent;
    border-color: none;
    border-style: none;
    border-width: none;
    border-radius: 10px;
    box-shadow: none;
    font-size: 15px;
}

.css-1v8qtb9-control.css-1v8qtb9-control:hover {
    border-color: transparent;
    border-color: none;
    border-style: none;
    border-width: none;
    border-radius: 10px;
    box-shadow: none;
}

.css-1xc3v61-indicatorContainer.css-1xc3v61-indicatorContainer {
    color: var(--color-bg-btn-light);
}

.css-1xc3v61-indicatorContainer.css-1xc3v61-indicatorContainer:hover {
    color: var(--color-bg-btn-dark);
}

.css-15lsz6c-indicatorContainer.css-15lsz6c-indicatorContainer {
    color: var(--color-bg-btn-light);
}

.css-15lsz6c-indicatorContainer.css-15lsz6c-indicatorContainer:hover {
    color: var(--color-bg-btn-dark);
}

.css-1nmdiq5-menu.css-1nmdiq5-menu {
background-color: var(--color-bg);
font-size: 15px;
}

.css-1hb7zxy-IndicatorsContainer.css-1hb7zxy-IndicatorsContainer > :nth-child(3) {
    /* > = affiner la sélection avec le 3ème enfant direct */
    display: none;
}

/* .css-1xc3v61-indicatorContainer.css-1xc3v61-indicatorContainer {
    display: none;
} */

.css-1u9des2-indicatorSeparator.css-1u9des2-indicatorSeparator {
    display: none;
}

.css-1dimb5e-singleValue.css-1dimb5e-singleValue {
    color: var( --color-font-medium);
    font-size: 15px;
}

.search-name {
    font-weight: 300;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.5em;
    color: var(--color-font-medium);
    margin-left: 10px;
    margin-top: 5px;
}

.search-bar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    justify-content: center;
    position: relative;
    width: 240px;
    border-top: 1px solid var( --color-font-medium);
    border-bottom: 1px solid var( --color-font-medium);
    background-color: var(--color-bg);
    font-weight: 300;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 10px;
    --color-font-medium: #05668D;
}

.search-bar-radius-left {
    border-left: 1px solid var( --color-font-medium);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-bar-radius-rigth {
    border-right: 1px solid var( --color-font-medium);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.line-search-bar-left {
    left: -1px;
    top: -5px;
}

.line-search-bar-right {
    right: 0;
    top: -5px;
}

.line-search-bar {
   position: absolute;
   border: 0.75px solid var(--color-font-medium);
   height: 30px;
   margin-top: 10px;
}

.react-select__singleValue {
    font-size: 50px;
}

/* For desktop */
@media (min-width : 1824px) { 
    .search-bar1 {
        width: 260px;
    }

    .search-bar2 {
        width: 260px;
    }

    .search-bar3 {
        width: 260px;
    }
}

/* .searchBar {
  padding:2rem 1rem;  
}

.searchBar input {  
  font-size:1.2rem;
  padding:5px 10px;
}

.search__results {
  width:100%;
}

.search__result {
  border:1px solid #EEE;
  margin:0.4rem 1rem;
  padding:.6rem;
} */

/* *{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html,
body{
height:100%;
} */

.form-search {
display: flex;
justify-content: center;
align-items: center;
margin-top: 15px;
margin-left: 40px;
gap: 20px
}

.search-button {
    cursor: pointer;
    padding-top: 1.5px;
    height: 38px;
    width: 45px;
    background-color: var( --color-bg-btn-light);
    border: 1px solid var( --color-bg-btn-light);
    border-radius: 10px;
    color: var(--color-bg-btn-dark);
    font-size: 30px;
}

.search-button:hover {
    background-color: var(--color-bg-btn-dark);
    border: 1px solid var(--color-bg-btn-dark);
    color:var( --color-bg-btn-light);
}

.bar{
width:650px;
background:white;
box-shadow:0 0 5px hsl(0 0% 78%);
height:55px;
border-radius:100vw;
display:flex;
justify-content:center;
font-size:0.6rem;
}

.bar div{
border-radius:inherit;
padding:0.8rem 1.5rem;
transition:background 250ms ease;
}

.bar div:hover{
background:hsl(0 0% 94%);
}

.location{
width:34%;
}
.check-in, .check-out, .guests{
width:22%;
}

input[type="text"]{
background:none;
border:none;
padding:0.2rem 0 0 0;
}

input[type="text"]:focus{
outline:none;
}

::placeholder{
font-size:0.75rem;
}

.guests{
position: relative;  
}
.guests span{
position:absolute;
top:50%;
right:10px;
transform:translateY(-50%);
background:#FF385C;
color:white;
font-size:0.8rem;
padding:0.7rem;
border-radius:50%;
}

.bar>div{
position:relative;
}


.bar>div::before{
position:absolute;
content:"";
left:0;
top:50%;
transform:translateY(-50%);
width:1px;
height:55%;
background:hsl(0 0% 90%);
}

.bar>div:nth-of-type(1)::before{
    background:transparent;
}


.bar>div:hover::before{
background:transparent;
}
