.search-bar {
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    margin-top: 15px;
    /* border: 1px solid var( --color-font-dark);
    border-radius: 10px; 
    width: 600px;
    margin-left: auto;
    margin-right: auto;  */
}

.search-bar1 {
    width: 225px;
    border-top: 1px solid var( --color-font-dark);
    border-bottom: 1px solid var( --color-font-dark);
    border-left: 1px solid var( --color-font-dark);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--color-bg);
    font-weight: 300;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    --color-font-medium: #05668D;
}

.search-bar2 {
    width: 225px;
    border-top: 1px solid var( --color-font-dark);
    border-bottom: 1px solid var( --color-font-dark);
    background-color: var(--color-bg);
    font-weight: 300;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    --color-font-medium: #05668D;
}

.search-bar3 {
    width: 225px;
    border-top: 1px solid var( --color-font-dark);
    border-bottom: 1px solid var( --color-font-dark);
    border-right: 1px solid var( --color-font-dark);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--color-bg);
    font-weight: 300;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    --color-font-medium: #05668D;
}

.line-search-bar {
   border: 0.75px solid var(--color-font-medium);
   height: 30px;
   margin-top: 10px;
}

/* For desktop */
@media (min-width : 1824px) {
   
    .search-bar1 {
        width: 260px;
    }

    .search-bar2 {
        width: 260px;
    }

    .search-bar3 {
        width: 260px;
    }
}

