.input {
  background: var(--color-bg);
  border: 1px solid var(--color-font-dark);
  border-radius: 10px;
  width: 424px;
  height: 53px;
  font-weight: 300;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20px;
  padding-left: 15px;
}

/* pseudo-selector */
::placeholder {
  color: var(--color-font-medium);
}

.input--small {
  width: 203px;
}

.input--large {
  width: 424px;
}
