.input {
  background: var(--color-bg);
  border: 1px solid var(--color-font-dark);
  border-radius: 10px;
  width: 26.5rem;
  height: 3.313rem;
  font-weight: 300;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.25rem;
  padding-left: 0.938rem;
}

/* pseudo-selector */
::placeholder {
  color: var(--color-font-medium);
}

.input--small {
  width: 12.688rem;
}

.input--large {
  width: 26.5rem;
}

.input--xlarge {
  width: 26.5rem;
  height: 4em;
}
