.container-inscription {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 52em;
  justify-content: space-between;
}

.container-top {
  display: flex;
  flex-direction: column;
}

.main-title-inscription {
  margin: auto;
  font-family: 'Solitreo', cursive;
  font-size: 3em;
}

.welcome {
  font-size: 2.25em;  
  font-weight: 500;
}

.join-us {
  margin-top: 1.25em;
  font-size: 1.25em;  
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.938em;
  margin-top: 0.938em;
  margin-bottom: 0.938em;
}

.first-line {
  display: flex;
  justify-content: center;
  gap: 0.938em;
}

.second-line {
  display: flex;
  justify-content: center;
  gap: 0.938em;
}

.conditions-container {
  display: flex;
  justify-content: center;
  gap: 0.625em;
}

input[type="checkbox"] {
  accent-color: var(--color-font-medium);
}

.conditions {
  cursor: pointer;
}

.container-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 1.25em;
}

.buttons-inscription {
  display: flex;
  justify-content: center;
  margin-bottom: 1.875em;
}

.line-buttons {
  margin-top: 1.25em;
  width: 3em;
  height: 0;
  left: 75.563em;   
  border: 0.75px solid var(--color-font-medium);
  transform: rotate(90deg);
}

.logo-triplink-inscription {
  margin-top: 2em;
  width: 5%;
}

@media (max-width : 26.875em) { 
  .container-inscription {
    height: 100%;
  }
  
  .main-title-inscription {
    display: none;
  }
  
  .welcome {
    font-size: 2.125em;  
  }
  
  .join-us {
    margin-top: 0.5em;
    font-size: 0.938em;  
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 0.938em;
    margin-top: 0.938em;
    margin-bottom: 0.938em;
  }
  
  .first-line {
    display: block;
    gap: 0.938em;
  }

  .first-line input:nth-child(2n + 1) {
    margin-bottom: 0.875em;
  }
  
  .second-line {
    display: block;
    gap: 0.938em;
  }

  .second-line input:nth-child(2n + 1) {
    margin-bottom: 0.875em;
  }
  
  .conditions-container {
    gap: 0em;
    align-items:flex-start;
  }
  
  .conditions {
    font-size: 0.75em;
    cursor: pointer;
  }
  
  .container-bottom {
    display: flex;
    flex-direction: column;
  }
  
  .buttons-inscription {
    display: flex;
    justify-content: center;
    margin-bottom: 1.875em;
  }
  
  .line-buttons {
    margin-top: 1.25em;
    width: 3em;
    height: 0;
    left: 75.563em;   
    border: 0.75px solid var(--color-font-medium);
    transform: rotate(90deg);
  }
  
  .logo-triplink-inscription {
   display: none;
  }

  .check-inscription {
    margin-top: 0.313rem;
    accent-color: var(--color-font-medium);
  }

}
