.container_travel-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 70px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 80px;
}

.card-wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
}

.travel-image {
    width: 410px;
    height: 310px;
    border-radius: 10px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    max-width: 410px;
}

.card-description {
    max-width: 270px;
    max-height: 28px;
}

.card-localisation {
    text-align: right;
    margin-top: 3px;
    max-width: 120px;
    max-height: 1px;
}

.card_travel-profil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.travel-profil {
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

.line-profil {
    border: 0.75px solid var(--color-font-medium);
    margin: 0 5px 0 5px;
    height: 25px;
}

.profil-logo {
    display: flex;
    margin-left: 250px;
    font-size: 16px;
    color: var(--color-bg-btn-dark);
}

/* For desktop */
@media (min-width : 1824px) {
    
    .travel-image {
        width: 510px;
        height: 410px;
    }

    .card-title {
        max-width: 510px;
    }

    h3 {
        font-size: 16px;
    }

    .profil-logo {  
        display: flex;  
        margin-left: 322px;
        font-size: 20px;   
    }

    .travel-profil {
        width: 30px;
        height: 30px;
    }
}
